[submodule "base"]
	path = base
	url = git@github.com:groventure/docker-nagios-base.git
[submodule "cgi-data"]
	path = cgi-data
	url = git@github.com:groventure/docker-nagios-cgi-data.git
[submodule "cgi"]
	path = cgi
	url = git@github.com:groventure/docker-nagios-cgi.git
[submodule "core-data"]
	path = core-data
	url = git@github.com:groventure/docker-nagios-core-data.git
[submodule "core"]
	path = core
	url = git@github.com:groventure/docker-nagios-core.git
